name: CI

on:
    push

# Jobs section
jobs:
    test:
      runs-on: ubuntu-latest
      container:
          image: ghcr.io/matthieuvigne/miam:latest
          credentials:
             username: matthieuvigne
             password: ${{  secrets.DOCKER_CONTAINER_REGISTRY_TOKEN }}
      steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: build
        run: |
          source /acado/build/acado_env.sh &&\
          mkdir build &&\
          cd build &&\
          mkdir cross_compile && cd cross_compile && cmake ../../ -DCROSS_COMPILE=ON && make -j8 && cd .. &&\
          mkdir native_compile && cd native_compile && cmake ../../ -DCROSS_COMPILE=OFF && make -j8
        shell: bash
      - name: miam_utils test
        run: |
          cd build/native_compile/miam_utils &&\
          ./unit/unit
