name: CI

on:
    push

# Jobs section
jobs:
    test:
      runs-on: ubuntu-latest
      container:
          image: ghcr.io/matthieuvigne/miam:latest
          credentials:
             username: matthieuvigne
             password: ${{  secrets.DOCKER_CONTAINER_REGISTRY_TOKEN }}
      steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: build
        run: |
          mkdir build &&\
          cd build &&\
          mkdir cross_compile && cd cross_compile && cmake ../../ -DCROSS_COMPILE=ON && cd.. &&\
          mkdir local && cd local && cmake ../ -DCROSS_COMPILE=OFF
      - name: miam_utils test
        run: |
          cd build/local/miam_utils &&\
          ./unit/unit
